
.icon-phone:before { content: '\e800'; } /* '' */
.icon-mail-circled:before { content: '\e801'; } /* '' */
.icon-phone-circled:before { content: '\e802'; } /* '' */
.icon-down-open-big:before { content: '\e803'; } /* '' */
.icon-left-open-big:before { content: '\e804'; } /* '' */
.icon-right-open-big:before { content: '\e805'; } /* '' */
.icon-up-open-big:before { content: '\e806'; } /* '' */
.icon-up-open-mini:before { content: '\e807'; } /* '' */
.icon-right-open-mini:before { content: '\e808'; } /* '' */
.icon-left-open-mini:before { content: '\e809'; } /* '' */
.icon-down-open-mini:before { content: '\e80a'; } /* '' */
.icon-print:before { content: '\e80b'; } /* '' */
.icon-mail:before { content: '\e80c'; } /* '' */
.icon-zoom-in:before { content: '\e80d'; } /* '' */
.icon-zoom-out:before { content: '\e80e'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */