<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Уборочный инвентарь - метла Мишель</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
</head>

<body>


    <header>
        <div class="container">
            <div class="d-flex justify-content-between">
                <nav class="nav">
                    <a class="nav-link" href="http://hozmetla.ru">&larr; к сайту</a>
                </nav>
                <nav class="nav">
                    <a class="nav-link" href="tel:99999999999">+9 999 999 9999</a>
                    <a class="nav-link" href="mailto:email@email.com">email@email.com</a>
                </nav>
            </div>
        </div>
    </header>


    <main>

        <div class="bg-dark">
            <div class="container">
                <div class="row justify-content-between align-items-center text-uppercase">
                    <div class="col-lg-5 py-3 text-light d-flex flex-column align-items-center justify-content-space-between">
                        <h1 class="text-center mb-3">
                            <span class="d-block font-weight-light">Новая модель метлы</span>
                            <small class="d-block text-orange">Метла &laquo;Мишель&raquo;</small>
                        </h1>
                        <ul class="lead font-size-1-15">
                            <li>Для уборки на улице</li>
                            <li>Для уборки в помещении</li>
                        </ul>
                        <div class="lead text-center d-flex align-items-center">
                            <p class="icon-right-open-big font-size-1-5"></p>
                            <p class="font-size-1-2"><i>Производство<br>Опт</i></p>
                            <p class="icon-left-open-big font-size-1-5"></p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="skew bg-light">
                            <picture>
                                <img class="img-fluid" src="<%= require('./img/dim.png') %>" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="bg-light">
            <div class="container py-3">
                <h2 class="text-uppercase text-center font-weight-light mb-3">Цены</h2>
                <div class="row">
                    <div class="col-lg-6 border-right">
                        <div class="row">
                            <div class="col-7">
                                <picture>
                                    <img class="img-fluid" src="<%= require('./img/dim.png') %>" alt="">
                                </picture>
                            </div>
                            <div class="col-5 d-flex justify-content-center align-items-center">
                                <p class="font-size-1-5 font-weight-light text-center">
                                    1шт<br>
                                    от XX руб
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-5 d-flex justify-content-center align-items-center">
                                <p class="font-size-1-5 font-weight-light text-center">
                                    В коробке<br>
                                    Y штук
                                </p>
                            </div>
                            <div class="col-7">
                                <picture>
                                    <img class="img-fluid" src="<%= require('./img/dim.png') %>" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="bg-primary text-white">
            <div class="container pt-5 pb-4">
                <div class="d-flex">
                    <p class="display-3 w-50 text-center">Напишите</p>
                    <a class="display-3 w-50 text-center link-white" href="mailto:email@email.com">email@email.com</a>
                </div>
                <div>
                    <p class="font-weight-light text-center font-size-1-5 w-50 text-uppercase">или</p>
                </div>
                <div class="d-flex">
                    <p class="display-3 w-50 text-center">Позвоните</p>
                    <a class="display-3 w-50 text-center link-white" href="tel:99999999999">+9 999 999 9999</a>
                </div>
                <div>
                    <p class="font-weight-light text-center font-size-1-5 w-50 text-uppercase mb-0">нам</p>
                </div>
            </div>
        </div>


        <div class="bg-light">
            <div class="container py-3">
                <h2 class="text-uppercase text-center font-weight-light mb-3">Модификации</h2>
                <div class="row mb-3">
                    <div class="col-lg-6 border-right">
                        <h3 class="text-uppercase text-center font-weight-light mb-3">Для улицы</h3>
                        <div class="row">
                            <div class="col-7">
                                <picture>
                                    <img class="img-fluid" src="<%= require('./img/dim.png') %>" alt="">
                                </picture>
                            </div>
                            <div class="col-5 d-flex flex-column justify-content-center align-items-center">
                                <p class="font-size-1-2">
                                    Отлично собирает камешки, землю, песок, снег, фантики и прочий сор.
                                </p>
                                <p>
                                    Метла набита более толстым и более упругим ворсом, а его кончики не распушены.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="text-uppercase text-center font-weight-light mb-3">Для помещения</h3>
                        <div class="row">
                            <div class="col-7">
                                <picture>
                                    <img class="img-fluid" src="<%= require('./img/dim.png') %>" alt="">
                                </picture>
                            </div>
                            <div class="col-5 d-flex flex-column justify-content-center align-items-center">
                                <p class="font-size-1-2">
                                    Отлично собирает пыль, песок, шкурки, обрезки и прочий сор.
                                </p>
                                <p>
                                    Метла набита более тонким ворсом с распушенными кончиками для лучшей уборки мелкого
                                    сора.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="text-uppercase text-center font-weight-light mb-3">Сменный черенок</h3>
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <p class="font-size-1-2">Резьба специально разработана и проверена на несокльких видах сменных
                            ручек с пластмассовым наконечником и деревянных черенков с пластиковым наконечником</p>
                        <ul>
                            <li>Выгодно для доставки: купите черенок в своем городе и получите выгоду за счет доставки</li>
                            <li>Функционально: возможность замены ручки / черенка</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <picture>
                            <img class="img-fluid" src="<%= require('./img/dim.png') %>" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>


        <div class="bg-light">
            <div class="container py-3">
                <h2 class="text-uppercase text-center font-weight-light mb-3">Характеристики</h2>
                <div class="row mb-3">
                    <div class="col-lg-6 border-right">
                        <h3 class="text-uppercase text-center font-weight-light mb-3">Размеры метлы</h3>
                        <picture>
                            <img class="img-fluid" src="<%= require('./img/dim.png') %>" alt="">
                        </picture>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="text-uppercase text-center font-weight-light mb-3">Размеры коробки</h3>
                        <picture>
                            <img class="img-fluid" src="<%= require('./img/dim.png') %>" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="bg-dark">

        <div class="container">
            <div class="row pt-3 align-items-center text-light">
                <div class="col-lg-1">
                    <picture>
                        <img class="img-fluid" src="<%= require('./img/vto_logo_light.svg') %>" alt="">
                    </picture>
                </div>
                <div class="col-lg-5 font-size-1-2">
                    <p class="my-1">ООО &laquo;Центр ВТО&raquo;</p>
                    <p class="my-1">Россия, г. Рязань, Ряжское шоссе 20</p>
                </div>
                <div class="col-lg-6 text-right font-size-1-2">
                    <p class="my-1">
                        <a class="link-white" href="mailto:email@email.com">email@email.com</a>
                    </p>
                    <p class="my-1">
                        <a class="link-white" href="tel:99999999999">+9 999 999 9999</a>
                    </p>
                </div>
            </div>
            <div class="text-muted text-center py-1">&copy; 1997-2019 ООО &laquo;Центр ВТО&raquo;</div>
        </div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>