@import "../css/fontello.css";
@import url('https://fonts.googleapis.com/css?family=Lora|Ruslan+Display&subset=cyrillic');

.text-russian-display {
    font-family: 'Ruslan Display', cursive;
}

.text-lora {
    font-family: 'Lora', serif;
}

.text-blue {
    color: rgb(12, 112, 170);
}

.text-stroke {
    color: #fff;
    text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.line-height-1-2 {
    line-height: 1.2;
}

.line-height-1 {
    line-height: 1;
}

.line-height-0-9 {
    line-height: .9;
}

.line-height-0-8 {
    line-height: .8;
}

.font-size-3 {
    font-size: 3rem;
}

.font-size-2-5 {
    font-size: 2.5rem;
}

.font-size-2 {
    font-size: 2rem;
}

.font-size-1-25 {
    font-size: 1.25rem;
}

.font-size-0-8 {
    font-size: 0.8rem;
}

html,
body {
    min-height: 100vh;
}

body {
    background-image: url(../img/header-xl.svg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 60% 100%;
}